@font-face {
    font-family: 'AdifHauss';
    src: url('../fonts/AdifHauss-Medium.woff2') format('woff2'),
    url('../fonts/AdifHauss-Medium.woff') format('woff');
  }

@font-face {
  font-family: 'AdifHaussBold';
  src: url('../fonts/AdifHauss-Bold.woff2') format('woff2'),
  url('../fonts/AdifHauss-Bold.woff') format('woff');
}

@font-face {
  font-family: 'AdifHaussLight';
  src: url('../fonts/AdifHauss-Light.woff2') format('woff2'),
  url('../fonts/AdifHauss-Light.woff') format('woff');
}


@font-face {
	font-family: 'HelveticaCondensed';
	src: url('../fonts/HelveticaCondensed.woff2') format('woff2'),
	url('../fonts/HelveticaCondensed.woff') format('woff');
}